.header{
    background-color: #292929;
    width: 100%;
    height: 140px;
    display: flex;
}
h3{
    width: 8.5%;
    border: 1px solid white;
    color: white;
    align-self: center;
    margin-left: 96px;
}