.slide-img{
  width: 100%;
  height: 550px;
  background-image: url('./images/slide.jpg');
  display: flex;
}
.slide-img > p{
  width:5%;
  color: white;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  margin-left: 77px;
  align-self: center;
}
.container{
  margin: 0px 67px 0px 67px;
}